.section{
display: flex;
flex-direction: column;
align-items: center;
}
.wrapper{
  display: flex;
  margin: 80px;

}
.title{
  font-size: 40px;
  color: #666;
  margin: 50px 0px;;
  font-family: "Crimson Pro", serif;
  font-style: italic;
}


.imgbox{
  display: block;

}
.listBox{
  display: block;
  margin-right: 30px;
  border-bottom: 1px dashed #aaa;
}
.list{
  display: flex;
  justify-content: space-between;
  width:700px;
  padding: 8px;
  font-size: 14px;
  border-top: 1px dashed #aaa;
}
