@charset "utf-8";
.main-cont{
    padding-bottom: 150px;
}
.coffee-flex-cont{
    display: flex;
}
.coffee-flex-cont-item{
    flex: 1 1 50%;
}
.coffee-flex-cont-item h3{
    margin-bottom: 10px;
    border-bottom: 1px solid #707070;
}
.coffee-flex-cont-item h3:not(:first-child){
    margin-top: 20px;
}
.specialty-figure img{
    width: 100%;
}
.roaster-text{
    padding-left: 40px;
}
.coffee-country{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 40px;
    height: auto;
}
.card{
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}
.card-img img{
    width: 100%;
}
.card-title{
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #707070;
    padding-bottom: 43px;
    margin-bottom: 30px;
}
.card-txt{
    border: solid #707070;
    border-width: 0 1px 1px;
    padding: 40px;
}
@media (max-width:1000px){
}
@media (max-width:768px){
    .card-txt{
        padding: 20px;
    }
}
@media (max-width:520px){
    .coffee-page .main-copy h1 .mbr{
        display: inline;
    }
    .coffee-flex-cont{
        flex-direction: column;
    }
    .roaster-text{
        padding: 20px 0 0;
    }
}