@charset "utf-8";
p.caution{
    margin-top: 1em;;
    font-size: 86%;
}
.contact-cont{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.contact-cont input[type="text"],
.contact-cont textarea{
    width: 100%;
    padding: 1em;
}
.contact-cont textarea{
    height: 10em;
}
.contact-cont input[type="submit"]{
    display: block;
    width: 50%;
    padding: 1em;
    border: none;
    margin: 20px auto 0;
    background-color: #ddd4ca;
}
@media (max-width:520px){
    .contact-cont input[type="submit"]{
        width: 100%;
    }
}