@charset "utf-8";
/*
font-family: 'Crimson Pro', serif;
font-style: italic;
font-family: 'Noto Sans JP', sans-serif;
*/
/* =====================共通のリセットここから===================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* remで指定するfotn-sizeの基準値を16px相当から10px相当に変える */
    font-size: 62.5%;
}
body{
    color: #707070;
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: 'Noto Serif JP', serif;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: bottom;
    max-width: 100%;
}
a{
    color: #333;
    text-decoration: none;
}
ol,
ul{
    list-style-type: none;
}
/* =====================共通のリセットここまで===================== */

/* =====================共通部分ここから===================== */
.wrapper{
    overflow: hidden;
}
.mbr{
    display: none;
}
.trigger{
    display: none;
}
.inner{
    max-width: 1396px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.main-cont h2{
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 41px;
}
.lower-page .main-cont h2{
    text-align: center;
    margin-bottom: 100px;
}
.common-cont-title{
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 50px;
}
.page-title{
    position: relative;
}
.page-title img{
    width: 100%;
}
.page-title h2{
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    font-size: 7.2rem;
    line-height: 1;
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.page-title h2 span{
    display: block;
    text-align: right;
}
@media (max-width:520px){
    .page-title h2{
        font-size: 4.8rem;
        bottom: inherit;
        top: 50%;
        transform: translateY(-50%);
    }
    .page-title h2 span{
        text-align: center;
    }
}

/* ====================ボタンデザイン======================== */
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 50%;
    height: 3.5em;
    border: 1px solid #707070;
    position: relative;
}
.link-btn span{
    position: relative;
    z-index: 100;
}
.link-btn::before{
    content: "";
    display: block;
    width: 30%;
    height: 20%;
    border: solid #707070;
    border-width: 0 1px 1px 0;
    transform: translateX(50%) skewX(45deg);
    position: absolute;
    right: 0;
    top: 30%;
    transition: 0.2s ease-in-out;
}
.link-btn:hover::before{
    right: -8%;
}
.link-btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 59, 31, 0.164);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform 0.2s;
}
.link-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left top;
}
@media (max-width:768px){
    .link-btn{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* =====================共通部分ここまで===================== */

/* =====================ヘッダーここから===================== */
.header{
    padding: 30px 0 20px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: background-color 0.4s;
}
.header.app{
    background-color: rgba(255,255,255,0.7);
}
.cls-1{
    transition: 0.4s;
}
.header.app .cls-1{
    fill: #000;
}
.header .inner{
    display: flex;
    justify-content: space-between;
}
.header h2{
    flex-shrink: 0;
    width: 300px;
    line-height: 1;
    transition: 0.4s;
}

.top-page .header h2{
    transform: translateY(-100px);
}
.top-page .header.app h2{
    transform: translateY(0);
}
.gnav ul{
    display: flex;
    gap: 20px;
}
.gnav a{
    display: flex;
    min-width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header.app .gnav a{
    color: #333;
}
/* =====================ヘッダーここまで===================== */

/* =====================ページタイトルここから===================== */
.main-copy{
    text-align: center;
    padding: 100px 0;
}
.main-copy h1{
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 30px;
}
.main-copy p{
    font-size: 2rem;
}
/* =====================ページタイトルここまで===================== */

/* =====================フッターここから===================== */
.footer-wrap{
    margin-top: 150px;
}

/* アサイドここから */
.aside{
    background-color: #ddd4ca;
}
.aside .inner{
    display: flex;
}
.aside-item{
    width: 50%;
    padding-bottom: 130px;
    position: relative;
}
.aside-item:first-child::before{
    content: "";
    width: 1px;
    height: 80%;
    background-color: #707070;
    position: absolute;
    right: 0;
    top: 10%;
}
.aside-item h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    font-size: 3.2rem;
}
.aside-item ul{
    display: flex;
    justify-content: center;
}
.follow-list{
    font-size: 1.4rem;
}
.follow-list a{
    width: 148px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.follow-list a i{
    transition: 0.4s;
}
.follow-list a:hover i{
    transform: scale(1.5);
}
.follow-list li:not(:last-child),
.contact-list li:not(:last-child){
    border-right: 1px solid #707070;
}
.follow-list i{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 3.2rem;
}
.contact-list{
    font-size: 2.8rem;
}
.contact-list li{
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    white-space: nowrap;
}
.contact-list a{
    position: relative;
}
.contact-list a::after{
    content: "";
    display: block;
    border: solid #333;
    border-width: 0 2px 2px 0;
    width: 1em;
    height: 0.5em;
    position: absolute;
    right: -1.2em;
    top: 20%;
    transform: skewX(45deg);
    transition: 0.4s;
}
.contact-list a:hover::after{
    right: -2em;
}
@media (max-width:1000px){
    .follow-list a{
        width: 100px;
    }
    .contact-list{
        font-size: 2rem;
    }
}
/* アサイドここまで */
/* フッターここから */
.footer{
    background-color: #707070;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    padding: 80px 0;
}
.footer a{
    color: #fff;
}
.footer .fnav{
    text-align: left;
    margin-bottom: 72px;
}
.footer small img{
    width: 235px;
    margin-bottom: 10px;
}
.fnav ul{
    line-height: 5;
}
/* フッターここまで */
/* =====================フッターここまで===================== */


/* ブレイクポイント960px（タブレット用） */
@media ( max-width:960px ){
    /* =====================ヘッダーここから=====================t */
    .header h2{
        display: none;
    }
    .header .inner{
        justify-content: center;
    }
    /* =====================ヘッダーここまで=====================t */

    /* =====================ページタイトルここから=====================t */
    .main-copy{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-copy h1{
        font-size: 2rem;
        letter-spacing: -0.04em;
    }
    .main-copy p{
        font-size: 1.6rem;
    }
    /* =====================ページタイトルここまで=====================t */
    
}
@media ( max-width: 520px ){
    /* =====================ハンバーガーここから=====================m */
    .trigger{
        display: block;
        width: 80px;
        height: 50px;
        /* background-color: #703B1F; */
        position: fixed;
        right: 30px;
        top: 35px;
        z-index: 10000;
    }
    .bar{
        display: block;
        width: 70px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 5px;
        top: 5px;
        transition: top 0.4s 0.4s, transform 0.4s;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.4);
    }
    .bar:nth-child(1){
        width: 60px;
    }
    .bar:nth-child(2){
        width: 50px;
        top: 17px;
    }
    .bar:nth-child(3){
        top: 29px;
    }
    .active .bar{
        background-color: #333;
        height: 1px;
        box-shadow: inherit;
        transition: top 0.4s, transform 0.4s 0.4s;
    }
    .active .bar:nth-child(1){
        top: 17px;
        width: 70px;
        transform: rotate(150deg);
    }
    .active .bar:nth-child(2){
        opacity: 0;
    }
    .active .bar:nth-child(3){
        top: 17px;
        transform: rotate(-150deg);
    }

    /* =====================ハンバーガーここまで=====================m */

    /* =====================ヘッダーここから=====================m */
    .header{
        padding-top: 90px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: rgba(221, 212, 202, 0.8);
        top: -100vh;
        transition: 0.4s;
    }
    .header.app{
        background-color: rgba(221, 212, 202, 0.8);
    }
    .header.active{
        top: 0;
    }
    .header .inner{
        flex-direction: column;
    }
    .header h2{
        display: block;
        transform: translateX(0);
        width: 100%;
    }
    .top-page .header h2{
        transform: translateY(0);
    }
    .gnav ul{
        flex-direction: column;
        margin-top: 75px;
    }
    .gnav li{
        width: 100%;
    }
    .gnav a{
        color: #333;
        width: 100%;
        height: 8vh;
        margin-bottom: 20px;
        font-size: 2rem;
        border: 1px solid #333;
        border-radius: 10px;
    }
    /* =====================ヘッダーここまで=====================m */

    /* =====================共通部分ここから=====================m */
    .pcbr{
        display: none;
    }
    @media (max-width: 520px){
        /* .pcbr{
            display: inline;
        } */
    }
    /* =====================共通部分ここまで=====================m */

    /* =====================ページタイトルここから=====================m */
    .main-copy p{
        text-align: left;
    }
    /* =====================ページタイトルここまで=====================m */

    
}
@media ( max-width:700px ){
    /* =====================フッターここから=====================m */
    /* アサイドここから */
    .aside .inner{
        flex-direction: column;
    }
    .aside-item{
        width: 100%;
    }
    .aside-item:first-child{
        border-bottom: 1px solid #707070;
    }
    .aside-item:first-child::before{
        display: none;
    }
    .contact-list{
        flex-direction: column;
        font-size: 3.2rem;
        text-align: center;
    }
    .contact-list li:not(:last-child){
        border-bottom: 1px solid #707070;
        border-right: none;
    }
    /* =====================フッターここまで=====================m */
}