/* Header.module.css */
.module {
  display: flex;
  padding: 16px;
  display: flex;
justify-content: space-between;
}
.wrapper{
  display: flex;
}
.topImg{
  width: 300px;
  height: 40px;
}
.list{
margin: 0px 15px;
padding: 10px;
}